<main>
    <div> 
        <h3> Editar jogador: </h3>
            <form action="/rota_players/players/edit_players" method="POST">
                {{#if players}}
                <input type="hidden" id="id" name="id" value="{{players._id}}">
                <label for="playername">Nick do jogador: </label>
                <input type="text" id="name" name="name" placeholder="Digite o nome do jogador" value="{{players.playername}}">
                <br>
                <label for="skill">Habilidade: </label>
                <input type="number" id="skill" name="skill" placeholder="Digite a habilidade do jogador" max="100" value="{{players.skill}}">
                <br>
                <label for="position">Posição: </label>
                <select id="position" name="position">
                    <option value="Top" selected="{{isSelected "top" players.position}}">Top</option>
                    <option value="Jungle" selected="{{isSelected "jungle" players.position}}">Jungle</option>
                    <option value="Mid" selected="{{isSelected "jungle" players.position}}">Mid</option>
                    <option value="ADC" selected="{{isSelected "ADC" players.position}}">ADC</option>
                    <option value="Support" selected="{{isSelected "support" players.position}}">Support</option>
                </select>
                <br>
                <label for="age">Idade: </label>
                <input type="number" id="age" name="age" placeholder="Digite a idade do jogador" max="100" value="{{players.age}}">
                <button type="submit" class="btn btn-success">Editar Jogador</button>
                {{/if}}
        </form>
    </div>
</main>